<div class="login-card">

  <!-- Panel izquierdo -->
  <div class="login-left">
    <img src="assets/in.gif" class="bg-gif" alt="" />
    <div>
      <h1>¡Bienvenido!</h1>
      <p>Inicia sesión para acceder al panel de administración.</p>
    </div>
    <div class="dots">
      <span class="active"></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <!-- Panel derecho -->
  <div class="login-right">
    <h2>Iniciar Sesión</h2>
    <p class="subtitle">Ingresa tus credenciales para continuar</p>

    <form [formGroup]="form" (ngSubmit)="submit()">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Usuario</mat-label>
        <input matInput type="text" formControlName="usuario" placeholder="Nombre de usuario" />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      @if (form.get('usuario')?.invalid && form.get('usuario')?.touched) {
        <span class="error-text">El usuario es obligatorio</span>
      }

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="contrasena" placeholder="Tu contraseña" />
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
      @if (form.get('contrasena')?.invalid && form.get('contrasena')?.touched) {
        <span class="error-text">Mínimo 4 caracteres</span>
      }

      @if (mensaje) {
        <p class="mensaje">{{ mensaje }}</p>
      }
      @if (error) {
        <p class="error">{{ error }}</p>
      }

      <button mat-raised-button class="submit-btn" type="submit">Entrar</button>

    </form>
  </div>

</div>