<button class="toggle-btn" (click)="toggle()" [class.hidden]="visible()">☰</button>
<!-- Overlay -->
<div class="overlay" [class.active]="visible()" (click)="visible.set(false)"></div>

<!-- Sidebar -->
<div class="sidebar" [class.sidebar-hidden]="!visible()">
  <br>
  <div class="sidebar-header">
    <h2>Pingu Tours</h2>
  </div>

  <nav class="sidebar-nav">
    <!--Parte del tema de la pagina-->
    <button mat-icon-button (click)="temaService.toggleTheme()">
    <mat-icon>
      {{ temaService.getIsDarkMode() ? 'dark_mode' : 'light_mode' }}
    </mat-icon>
  </button>
    <a routerLink="/home" routerLinkActive="active">🏠 Inicio</a>
    <a routerLink="/viajes" routerLinkActive="active">🌍 Viajes</a>

    @if (estaLogueado()) {
      <a routerLink="/mis-reservas">🎫 Mis Reservas</a>
    }
  </nav>

  <div class="sidebar-footer">
    @if (estaLogueado()) {
      <p>👤 {{ getUsuario()?.nombre }}</p>
      <button (click)="cerrarSesion()">Cerrar sesión</button>
    } @else {
      <a routerLink="/login">Iniciar sesión</a>
      <a routerLink="/register">Registrarse</a>
    }
  </div>
</div>